$fuenteTitulos: 'PT Serif Caption', serif;
$fuentePrincipal: 'Roboto', sans-serif;

$thin: 100; 
$regular: 400;
$bold: 700;

$rojo:#F47C7C;
$amarillo: #F7F48B;
$azul: #70A1D7;
$verde:#A1DE93;
$blanco: #fff;
$negro: #000;
$gris: #EEEEEE;

$separacion: 5rem;

$tablet: 768px;
$phone: 375px;
$desktop: 1200px;