.header{background-color: $blanco;}
.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.logo-header img{
    width: 16rem;
    padding: .5rem 0;
}
.nav-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    @include phone{flex-direction: row;}
    @include tablet{flex-direction: row; padding-bottom: 0;}
    a{margin-left: 1rem;}
}